$accent-color: rgb(152, 164, 158, 0.5);
$secondary-color: #f5f5f5;
$bg-color: #3d3024;
$accent-font: "Adamina", sans-serif;
$main-font: "Roboto", sans-serif;
$font-size-mobile: 14px;
$font-size-tablet: 16px;
$font-size-desktop: 18px;
$cubic-bezier: cubic-bezier(0, 0, 1, 1);
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
